* {
    margin: 0;
}

#sidebar {
    background-color: darkslateblue;
}

#main {
    background-color: darkslategray;
}

.left_column {
    float: left;
    height: 100vh;
    width: 150px;
}

.right_column {
    height: 100vh;
}

.header {
    background-color: darkviolet;
    height: 50px;
}

.content {
    overflow: auto;
}

.footer {
    background-color: forestgreen;
    height: 50px;
    width: 100vw;
}