* {
    margin: 0;
}

body {

}

.container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

#nav {
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: #394263;
}

.main {
    display: flex;
    flex: 2;
    flex-direction: column;
    overflow: auto;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 3px;
    margin-left: 3px;
    list-style: none;
    border: 1px solid black;
    height: 50px;
    width: 140px;
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}

li a {
    cursor: pointer;
    padding: 15px 15px 17px 50px;
    color: #fff;
    text-decoration: none;
    color: darkslategray;
}


#nav ul li:hover {
    background: red;
}
.nav_header {
    height: 70px;
}

#header {
    background-color: lightcoral;
    height: 70px;
    background-color: #648ca6;
    display: flex;
}

#content {
    flex: auto;
    padding: 20px 10px 20px 10px;
    display: flex;
    background: rgb(211, 211, 211);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


#footer {
    background-color: #648ca6;
    height: 40px;
    display: flex;
}

#cards {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: white;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: 10px;
}

#graphics {
    margin: 10px;
    width: 620px;
    height: 350px;
    background-color: white;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}