* {
    margin: 0;
}

#sidebar {
    background-color: darkslateblue;
    position: fixed;
    width: 150px;
    height: 100vh;
    text-align: center;
    padding-top: 55px;
}

#main {
    background-color: darkslategray;
    margin-left: 150px;
}

.header {
    background-color: darkviolet;
    height: 50px;
    padding-left: 50px;
}

.content {
    padding: 30px;
    overflow: auto;
}

.footer {
    background-color: forestgreen;
    height: 50px;
}

#stat {
    border: 3px solid red;
    display: inline-block;
    padding: 250px;
    margin: 50px;
    border-radius: 20px;
}

.button1 {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    background-color: violet;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.button3 {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}